.Main {
    text-align: center;
  }

.Main-header {
    background-color: #0e275a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .left-align{
    text-align: left;

}